div#log{
  color:white;
}
div#player {
  top: 20rem;
  left: 30%;
  overflow: hidden;
  width: 6.5rem;
  position: absolute;
  image-rendering: pixelated;
  margin-left: -4.5rem;
  margin-top: -8.5rem;
}
img.playerSprite {
  width: 73rem;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
}
div.playerPortrait {
  overflow: hidden;
  width: 12.1rem;
  image-rendering: pixelated;
  border-radius: 5px;
}
img.dickFace {
  width: 73rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  -webkit-transform: translate3d(0,0,0);
  animation: portrait 400ms steps(6) infinite;
}
@keyframes portrait {
  100% {
    transform: translateX(-73rem);
  }
}

div#npcRodriguez {
  top: -18rem;
  left: 52rem;
  overflow: hidden;
  width: 6.5rem;
  position: relative;
  image-rendering: pixelated;
}
img.npcSprite {
  width: 130rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: rodriguez 2800ms steps(15) infinite;
}
@keyframes rodriguez {
  100% {
    transform: translateX(-130rem);
  }
}
.inFront {
  z-index: -1;
}


@keyframes walkDown {
  100% {
    transform: translateX(-73rem);
  }
}
@keyframes walkRight {
  100% {
    transform: translateX(-73rem);
  }
}
@keyframes walkLeft{
  100% {
    transform: translateX(-73rem);
  }
}
@keyframes walkUp{
  100% {
    transform: translateX(-73rem);
  }
}

.walkRightAnim {
  animation: walkRight 700ms steps(8) infinite;
}
.walkLeftAnim {
  animation: walkLeft 700ms steps(8) infinite;
}
.walkUpAnim {
  animation: walkUp 700ms steps(8) infinite;
}
.walkDownAnim {
  animation: walkDown 700ms steps(8) infinite;
}
