section.walkableArea {
  width: 59rem;
  height: 10rem;
  margin-top: -14rem;
  margin-left: 2rem;
  position: absolute;
  z-index: 1;
}
section.scene {
  width: 62.6rem;
  height: 24rem;
  overflow: hidden;
  margin-top: 5rem;
}
img.sceneOne {
  position: absolute;
  z-index: -1;
  margin-top: -28rem;
  height: 24.1rem;
}
#victim, #shards, #head, #car, #brokenWindow, #handPrint, #urine, #syringe {
  position: relative;
  z-index: 2;
}
#victim {
  width: 10rem;
  height: 6rem;
  top: 15.5rem;
  left: 17.7rem;
}
#shards {
  width: 8rem;
  height: 2rem;
  top: 8.4rem;
  left: 27rem;
}
#head {
  width: 2rem;
  height: 2rem;
  top: 9rem;
  left: 14.4rem;
}
#car {
  width: 9rem;
  height: 7rem;
  top: -3.1rem;
  left: 0.3rem;
}
#brokenWindow {
  width: 6rem;
  height: 4rem;
  top: -16.3rem;
  left: 30.5rem;
}
#handPrint {
  width: 2rem;
  height: 3rem;
  top: -13.5rem;
  left: 40rem;
}
#urine {
  width: 8rem;
  height: 2rem;
  top: -5.5rem;
  left: 39.6rem;
}
#syringe {
  width: 3rem;
  height: 2rem;
  top: -11rem;
  left: 46.7rem;
}