body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  width: 62.6rem;
  margin: auto;
  letter-spacing: 0.3rem;
  line-height: 90%;
}
section.startScreen {
  width: 62.6rem;
  height: 24.1rem;
}
h1.title {
  color: white;
  font-size: 7rem;
  line-height: 100%;
}
.startGameBtn {
  width: 6rem;
  padding: 1rem;
  margin-left: 26.3rem;
}
div.inventory {
  color: white;
  width: 62.6rem;
  height: 5rem;
  background-color: #181717;
  position: absolute;
  z-index: 3;
}
section.items {
  width: 50rem;
  height: 4.6rem;
  border: 0.5px solid grey;
  float: right;
  margin: 0.2rem;
}
div.inventoryIcon {
  margin-top: 0.2rem;
  color: white;
  position: absolute;
  z-index: 3;
  font-size: 1.5rem;
}
img.item {
  height: 4.6rem;
  image-rendering: pixelated;
}
.helper {
  color: white;
  position: absolute;
  margin-top: -1.2rem;
}
section.menuArea {
  width: 62.6rem;
}
.playerSpeak {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 0.8rem;
  color: white;
  position: absolute;
  z-index: 2;
  max-width: 50%;
}
.npcSpeak {
  margin-top: 16rem;
  margin-left: 25rem;
  font-size: 0.8rem;
  color: white;
  position: absolute;
  z-index: 2;
  width: 37rem;
}
.options {
  position: absolute;
  margin-top: 2rem;
  z-index: 2;
}
.talkChoices {
  list-style: none;
  font-size: 0.8rem;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: left;
  width: 40rem;
  background-color: transparent;
  border-style: none;
  outline: none;
  padding-bottom: 1rem;
}
.greyText {
  color: grey;
}
.playerAction {
  margin-top: 22rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: white;
  position: absolute;
  z-index: 3;
}
.playerActionCar {
  margin-top: -2rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: white;
  position: absolute;
}
.look, .walk, .talk, .pickUp {
  font-size: 1rem;
  border-radius: 3px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 5rem;
  height: 1.5rem;
}
.look:hover, .walk:hover, .talk:hover, .pickUp:hover {
  background-color: #34BEEF;
  transition: 0.5s;
}
.musicBtns {
  float: right;
  margin-top: -1.5rem;
}
div.travel {
  color: white;
  border: 0.2px solid grey;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 6rem 0rem 0rem 18rem;
  z-index: 3;
  position: absolute;
  background-color: black;
}
button.leave {
  margin-left: 8rem;
}
section.dickMobileInterior {
  margin-top: 5rem;
}
img.dickMobileInteriorImg {
  width: 62.6rem;
  height: 24rem;
}
div.cupEmpty {
  position: absolute;
  z-index: 2;
  margin-top: -18rem;
  margin-left: 49rem;
}
img.cupEmptyImg {
  width: 13rem;
  image-rendering: pixelated;
}
div.exitCar {
  margin-top: -16rem;
  margin-left: 1.5rem;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  z-index: 3;
}








