/*Outside police station styles*/
section.policeStationScene {
  color: white;
  width:62.6rem;
  height: 24.1rem;
  margin-top: 5rem;
/*  border: 0.5px solid white;*/
}
img.policeStationImg {
  width: 62.6rem;
}
img.policeStationForegroundImg {
  position: relative;
  top: -9.6rem;
  width: 30rem;
  z-index: 1;
}
section.walkableArea.policeStation {
  width: 51.4rem;
  height: 8rem;
  position: relative;
  z-index: 1;
  top: -4rem;
  left: -2rem;
  clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
}
section.playerAction.policeStation {
  margin-top: -5rem;
  margin-left: 0.5rem;
}
div.travel.policeStationTravel {
  top: -74rem;
  left: 0rem;
  margin: auto;
  width: 30rem;
}
/* Things of interest */
.stationDoor, .policeStationExteriorThing, .sign, .graffiti, .policeCar, .graffitiTwo, .station {
  position: relative;
}

div.stationDoor {
  z-index: 1;
  width: 10.5rem;
  height: 8rem;
  top: -20.8rem;
  left: 25.3rem;
}
div#car.thing.policeStationExteriorThing {
  width: 6rem;
  height: 8rem;
  top: -20rem;
  left: 0rem;
}
div.sign {
  width: 7rem;
  height: 3.5rem;
  top: -37rem;
  left: 36rem;
}
div.graffiti {
  width: 7rem;
  height: 4.5rem;
  top: -37rem;
  left: 36rem;
}
div.policeCar {
  width: 14rem;
  height: 9.5rem;
  top: -40rem;
  left: 48rem;
}
div.graffitiTwo {
  width: 12rem;
  height: 6rem;
  top: -56rem;
  left: 44rem;
}
div.station {
  width: 24rem;
  height: 13rem;
  top: -67rem;
  left: 1rem;
}

/*Inside police station styles*/
section.policeStationInteriorScene {
  margin-top: 5rem;
  height: 24.2rem;
}
section.walkableArea.policeStationInterior {
  width: 61rem;
  height: 14rem;
  margin-top: -14.2rem;
  margin-left: 1.5rem;
  position: absolute;
  z-index: 1;
  clip-path: polygon(5% 40%, 10% 0, 22% 0, 22% 52%, 86% 52%, 96% 52%, 97% 64%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0 81%);
}
section.playerAction.policeStationInterior {
  margin-top: -2rem;
  margin-left: 0.5rem;
}
.wallCorner {
  position: relative;
  top: -14.7rem;
  left: 16.7rem;
}
.policeStationExit {
  position: relative;
  width: 1.5rem;
  height: 13rem;
  top: -21rem;
  left: 61rem;
}
.interrogation {
  position: relative;
  width: 3rem;
  height: 12rem;
  top: -37rem;
}
.evidence {
  position: relative;
  width: 6rem;
  height: 9rem;
  top: -55.3rem;
  left: 10rem;
}
.waterDispenser {
  position: relative;
  width: 4rem;
  height: 6rem;
  top: -60rem;
  left: 31rem;
}
.noticeBoard {
  position: relative;
  width: 9rem;
  height: 6rem;
  top: -65rem;
  left: 50rem;
}
.filingCabinets {
  position: relative;
  width: 9rem;
  height: 5rem;
  top: -71rem;
  left: 20rem;
}
div#jen {
  top: -17.2rem;
  left: 35rem;
  overflow: hidden;
  width: 7.5rem;
  height: 6.5rem;
  position: relative;
  image-rendering: pixelated;
}
img.jenSprite {
  width: 200rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: jen 7800ms steps(21) infinite;
}
@keyframes jen {
  100% {
    transform: translateX(-200rem);
  }
}

/*Analysis room*/
section.analysisRoomScene {
  margin-top: 5rem;
  height: 24.2rem;
}
section.walkableArea.analysisRoom {
  width: 36rem;
  height: 14rem;
  margin-top: -14.2rem;
  margin-left: 25.5rem;
  position: absolute;
  z-index: 1;
  clip-path: polygon(17% 58%, 95% 57%, 100% 100%, 13% 100%);
}
section.playerAction.analysisRoom {
  margin-top: -2rem;
  margin-left: 0.5rem;
}
.analysisExit {
  position: relative;
  width: 1.5rem;
  height: 13rem;
  top: -24rem;
  left: 61rem;
}
div#jenkinsImage {
  top: -21.7rem;
  left: 16rem;
  overflow: hidden;
  width: 7.5rem;
  height: 9rem;
  position: relative;
  image-rendering: pixelated;
}
div#jenkins {
  top: -68.2rem;
  left: 18rem;
  width: 4.5rem;
  height: 9rem;
  position: relative;
  z-index: 2;
}

img.jenkinsSprite {
  width: 200rem;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: jenkins 5800ms steps(21) infinite;
}
@keyframes jenkins {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-200rem);
  }
}
.volatileSubstanceMachine {
  position: relative;
  width: 11.5rem;
  height: 19rem;
  top: -44rem;
}
.labCabinets {
  position: relative;
  width: 33.5rem;
  height: 5rem;
  top: -61rem;
  left: 22rem;
}
.gurney {
  position: relative;
  width: 10rem;
  height: 10rem;
  top: -11rem;
  left: 19rem;
  z-index: 1;
  overflow: hidden;
}
img.gurneySprite {
  height: 10rem;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
  animation: none;
}
@keyframes gurney {
  100% {
    transform: translateX(-300rem);
  }
}




