section.policeStationScene {
  color: white;
  width:62.6rem;
  height: 24.1rem;
  margin-top: 5rem;
  border: 0.5px solid white;
}
img.policeStationImg {
  width: 62.6rem;
}
img.policeStationForegroundImg {
  margin-top: -9.6rem;
  position: absolute;
  width: 30rem;
  z-index: 1;
}
section.walkableArea.policeStation {
  width: 48rem;
  height: 8rem;
  margin-top: -8.5rem;
  margin-left: 0rem;
  position: absolute;
  z-index: 1;
}
div.stationDoor {
  position: absolute;
  z-index: 1;
  width: 10.5rem;
  height: 8rem;
  top: 12.2rem;
  left: 29rem;
}
div#car.thing.policeStationExteriorThing {
  width: 6rem;
  height: 8rem;
  top: -8rem;
  left: 0rem;
}
div.travel.policeStationTravel {
  top: 6rem;
  left: 0rem;
}