body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}
section.walkableArea {
  width: 950px;
  height: 10rem;
  margin-top: -14rem;
  margin-left: 2rem;
  position: absolute;
  z-index: 1;
}
section.scene {
  width: 1000px;
  height: 24rem;
  border: 0.5px solid grey;
  margin: auto;
  overflow: hidden;
}
img.sceneOne {
  position: absolute;
  z-index: -1;
  margin-top: -28rem;
}
#victim, #shards, #head, #car, #brokenWindow, #handPrint, #urine, #syringe {
  position: relative;
  z-index: 2;
}
#victim {
  width: 10rem;
  height: 6rem;
  top: 250px;
  left: 286px;
}
#shards {
  width: 8rem;
  height: 2rem;
  top: 125px;
  left: 438px;
}
#head {
  width: 2rem;
  height: 2rem;
  top: 141px;
  left: 229px;
}
#car {
  width: 9rem;
  height: 7rem;
  top: -59px;
  left: 2px;
}
#brokenWindow {
  width: 6rem;
  height: 4rem;
  top: -277px;
  left: 490px;
}
#handPrint {
  width: 2rem;
  height: 3rem;
  top: -227px;
  left: 640px;
}
#urine {
  width: 8rem;
  height: 2rem;
  top: -99px;
  left: 634px;
}
#syringe {
  width: 3rem;
  height: 2rem;
  top: -189px;
  left: 749px;
}

.playerSpeak {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  color: white;
  position: absolute;
  z-index: 2;
  max-width: 50%;
}
.playerAction {
  margin-top: 22rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: white;
  position: absolute;
}









